.registration-container {
    max-width: 360px;
    background-color: #151515;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    height: 100vh;
    padding-top: 50px;
}

.logo {

    max-width: 200px;
    margin-bottom: 20px;

}

.visota {
    height: 500px;
}

.login-form {
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;


}

.login-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #fff;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;

}

.login-form input {
    width: 100%;
    padding: 14px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #A40A5E;
    color: white;
    font-size: 16px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

.password-container {
    position: relative;
}

.password-container input {
    width: 100%;
    padding-right: 40px;
    font-family: Arial, Helvetica, sans-serif;

}

.password-container .toggle-password {
    position: absolute;
    right: 10px;
    top: 25%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.toggle-password svg {
    width: 22px;
    height: 19px;
    fill: white;
    margin-bottom: 60%;
}

.login-span {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 5px;
    background-color: #F39800;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

.login-span:hover {
    background-color: #F39800;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
        margin-top: 50px;
        height: auto;
    }

    .login-form input,
    .login-span {
        font-size: 16px;
        padding: 12px;
        width: auto;
    }
}

.password-container {
    position: relative;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.registration-form input,
.registration-form select,
.registration-form button {
    width: 100%;
    max-width: 360px;
    height: 50px;
    padding: 0 15px;
    margin-bottom: 15px;
    border: 1px solid #A40A5E;
    border-radius: 8px;
    background-color: #151515;
    color: #fff;
    font-size: 14px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;

}

.registration-form input::placeholder {
    color: #8f8f8f;
    font-family: Arial, Helvetica, sans-serif;

}

.registration-form input.filled,
.registration-form select.filled {
    background-color: #A40A5E;
    color: #fff;
    border-color: #A40A5E;
    font-family: Arial, Helvetica, sans-serif;

}

.registration-form button {
    background-color: #F39800;
    border: none;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;

}

.registration-form button:hover {
    background-color: #e6a10d;

}

.password-input {
    position: relative;
}

.password-input input {
    width: 100%;
    max-width: 360px;
    height: 50px;
    padding-right: 40px;
}

.password-input .toggle-password {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;

}

.registration-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;

}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    max-width: 180px;
    display: block;
    margin: 0 auto;
}


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #0d0d0d;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;

}

.confirmation-container {
    max-width: 360px;
    width: 100%;
    padding: 20px;
    height: 90%;
    text-align: center;
    background-color: #151515;
    border-radius: 8px;
    overflow: hidden;
}

.confirmation-logo {
    max-width: 180px;
    margin-bottom: 20px;
    margin-top: 160px;
}

.confirmation-text {
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.confirmation-button {
    width: 100%;
    padding: 15px;
    background-color: #F39800;
    border: none;
    border-radius: 8px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.confirmation-button:hover {
    background-color: #e6a10d;
}

.container {
    width: 100%;
    max-width: 400px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.logo img {
    max-width: 200px;
    margin-bottom: 20px;
}

.login-form {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;

}

.login-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #fff;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;

}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #A40A5E;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

}

.password-container {
    position: relative;
}

.password-container input {
    width: calc(100% - 40px);
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;

}

.password-container .toggle-password {
    position: absolute;
    right: 10px;
    top: 8px;
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;

}

.login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #F39800;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;

}

.login-button:hover {
    background-color: #F39800;
}

body {
    margin: 0;
    background-color: #1c1c1c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

}

.registration-container {
    width: 100%;
    max-width: 360px;
    font-family: Arial, Helvetica, sans-serif;

}

.logo {
    max-width: 200px;
    display: block;
    margin: 0 auto 20px;
}

.registration-form {
    padding: 20px;
    border-radius: 10px;
    max-width: 360px;

}

.registration-form label {
    display: block;
    margin-bottom: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;


}

.registration-form input,
.registration-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #A40A5E;
    color: white;
    font-family: Arial, Helvetica, sans-serif;


}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #F39800;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;

}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    font-family: Arial, Helvetica, sans-serif;

}

.modal-content {
    background-color: #A40A5E;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    width: 300px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;

}

.modal .close-button {
    position: absolute;
    top: -13px;
    right: -145px;
    background: none;
    border: none;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;

}

.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
    font-size: 16px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;

}

input,
button {
    width: 100%;
    max-width: 400px;
    height: 50px;
    margin: 0;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

}

input {
    background-color: #A40A5E;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;

}

button {
    background-color: #F39800;
    font-weight: bold;
    cursor: pointer;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;

}

button:hover {
    background-color: #F39800;
}

.password-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

.password-container input {
    width: 100%;
    height: 50px;
    padding-right: 50px;
}

.password-container .toggle-password {
    position: absolute;
    right: 10px;
    top: 25%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    height: 30px;
    width: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}



body {
    margin: 0;
    background-color: #121212;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;

}

.app {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background: #000;
    padding: 20px;
    display: none;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;

}

.sidebar.active {
    display: flex;
}

.logo img {
    max-width: 100%;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.menu li a.active {
    color: #A40A5E;
    font-family: Arial, Helvetica, sans-serif;

}

.theme-toggle {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar {
    width: 100%;
    padding: 10px 20px;
    background: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    flex: 1;
    padding: 20px;
}

.card {
    background: #1e1e1e;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.tabs {
    display: flex;
    margin-bottom: 10px;
}

.tab-button {
    flex: 1;
    padding: 10px;
    background: #222;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;

}

.tab-button.active {
    background: #A40A5E;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #555;
    border-radius: 5px;
    background: #222;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;

}

button {
    cursor: pointer;
    background: #A40A5E;
    border: none;
}

button:hover {
    background: #ff0077;
}

