{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './assets/style.css' %}">
    <title>Регистрация</title>
</head>
<body>
    <div class="registration-container">
        <div class="header">
            <img src="{{settings.logo.url}}" alt="Lider Cargo Logo" class="logo">
        </div>
        <form class="registration-form" method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <input type="hidden" name="chat_id" value="{{ request.GET.chat_id }}">
            <label for="fullName">ФИО</label>
            <input type="text" id="fullName" name="fullName" placeholder="ФИО (обязательно)" required>
            <label for="phone">Телефон (в международном формате)</label>
            <input type="tel" id="phone" name="phone" placeholder="+996XXXXXXXXX" required>
            <select id="pvz" name="pvz" required>
                <option value="">Выберите ПВЗ</option>
                {% for point in pvz_list %}
                <option value="{{ point.id }}">{{ point.city }}</option>
                {% endfor %}
            </select>
            <label for="address">Адрес</label>
            <input type="text" id="address" name="address" placeholder="Адрес" required>
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" placeholder="Пароль" required>
            <label for="confirmPassword">Повторить пароль</label>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Подтверждение пароля"
                required>
            <button type="submit">Зарегистрироваться</button>
        </form>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p class="{{ message.tags }}">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        <div class="visota"></div>
    </div>
    <script src="{% static './assets/main.js' %}"></script>
</body>
</html>
<script>
    const phoneInput = document.getElementById('phone');

    // Добавляем +996 при фокусе, если поле пустое
    phoneInput.addEventListener('focus', function() {
        if (!phoneInput.value.startsWith('+996')) {
            phoneInput.value = '+996';
        }
    });

    // Запрещаем удалять +996
    phoneInput.addEventListener('input', function() {
        if (!phoneInput.value.startsWith('+996')) {
            phoneInput.value = '+996 ';
        }
    });

    // Убираем лишние пробелы при отправке формы
    document.querySelector('form').addEventListener('submit', function(e) {
        phoneInput.value = phoneInput.value.replace(/\s+/g, '');
    });
</script>