{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/style.css' %}">
    <title>Регистрация</title>
</head>
<body>
    <div class="registration-container">
        <div class="header">
            <img src="{% static 'assets/images/CargosLogo.png' %}" alt="Lider Cargo Logo" class="logo">
        </div>
        <form class="registration-form" method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <label for="fullName">ФИО</label>
            <input type="text" id="fullName" name="fullName" placeholder="ФИО (обязательно)" required>
            <label for="phone">Телефон</label>
            <input type="tel" id="phone" name="phone" placeholder="Телефон (в международном формате)" required>
            <label for="pvz">ПВЗ (Пункт выдачи посылок)</label>
            <select id="pvz" name="pvz" required>
                <option value="">Выберите ПВЗ</option>
                {% for point in pvz_list %}
                <option value="{{ point.id }}">{{ point.city }}</option>
                {% endfor %}
            </select>
            <label for="address">Адрес</label>
            <input type="text" id="address" name="address" placeholder="Адрес" required>
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" placeholder="Пароль" required>
            <label for="confirmPassword">Повторить пароль</label>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Подтверждение пароля"
                required>
            <button type="submit">Зарегистрироваться</button>
        </form>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p class="{{ message.tags }}">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <script src="{% static './assets/main.js' %}"></script>
</body>
</html>