<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/style.css">
    <title>Регистрация завершена</title>
</head>

<body>
    <div class="wrapper">
        <section class="confirmation-container">
            <img src="./assets/images/CargosLogo.png" alt="Lider Cargo Logo" class="confirmation-logo">
            <h1 class="confirmation-text">ВЫ УСПЕШНО ПРОШЛИ РЕГИСТРАЦИЮ 🥳</h1>
            <button class="confirmation-button" id="finishButton">Завершить</button>

        </section>
    </div>
    <script src="./assets/main.js"></script>
</body>

</html>