{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './assets/style.css' %}">
    <title>Регистрация завершена</title>
</head>

<body>
    <div class="wrapper">
        <section class="confirmation-container">
            <img src="{% static './assets/images/CargosLogo.png' %}" alt="Lider Cargo Logo" class="confirmation-logo">
            <h1 class="confirmation-text">ВЫ УСПЕШНО ПРОШЛИ РЕГИСТРАЦИЮ 🥳</h1>
            <a href="{% url 'cargopart' %}">
                <button class="confirmation-button">Завершить</button>
            </a>
        </section>
    </div>
    <script src="{% static './assets/main.js' %}"></script>
</body>
</html>